[submodule "MediaCrawlerPro-Python"]
	path = MediaCrawlerPro-Python
	url = https://github.com/alsritter/MediaCrawlerPro-Python.git
[submodule "MediaCrawlerPro-SignSrv"]
	path = MediaCrawlerPro-SignSrv
	url = https://github.com/alsritter/MediaCrawlerPro-SignSrv.git
