name: Deploy Main

on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: ./.github/workflows/common_k8s.yml
    with:
      dockerfile: ./Dockerfile
      image-name: biz-radar
      container-name: biz-radar
      namespace: lazygpt-pro
      replicas: "1"
      container-port: "8000"
      service-port: "8000"
      service-type: ""
      env-from-configmap: "biz-radar-config"
      env-from-secret: ""
      resource-limits-memory: "4096Mi"
      resource-requests-memory: "1024Mi"
    secrets:
      ALIYUN_USERNAME_K8S: ${{ secrets.ALIYUN_USERNAME_K8S }}
      ALIYUN_PASSWORD_K8S: ${{ secrets.ALIYUN_PASSWORD_K8S }}
      KUBE_CONFIG_DATA: ${{ secrets.KUBE_CONFIG_DATA }}
      WECHAT_WORK_BOT_WEBHOOK: ${{ secrets.WECHAT_WORK_BOT_WEBHOOK }}
      GH_PAT: ${{ secrets.GH_PAT }}
